[Unit]
Description=Disable integrated GPU
Requires=sys-kernel-debug.mount
After=sys-kernel-debug.mount

[Service]
Type=oneshot
ExecStart=/usr/local/src/mac-gpu/igd-off.sh
User=root

[Install]
WantedBy=multi-user.target suspend.target
